body {
    padding-top: 60px;
}

.categories {
    width: 15%;
}

.column-categories {
    width: 15%;
}

.column-tags {
    width: 15%;
}

.black {
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
    clear: both;
}

.clear{
    clear: both;
}